docker.enabled = true

// Set the custom work directory
workDir = 'work_temp'

process {
    scratch = true
}

env {
    NXF_SCRATCH = '/datastore/shekas3/nextflow_temp/scratch'
    TMPDIR      = '/datastore/shekas3/nextflow_temp'
    TEMP        = '/datastore/shekas3/nextflow_temp'
    TMP         = '/datastore/shekas3/nextflow_temp'
}

cleanup = true
