params {
  base_dir = '/datastore/shekas3/SSuite_dev/temp'
}

apptainer {
  enabled = true
  autoMounts = true
}

cleanup = true

profiles {
  nibi {
    process.executor = 'slurm'
    process.queue = 'default' // Replace with actual queue if needed
    process.cpus = 10
    process.memory = '16 GB'
    workDir = "${params.base_dir}/work"
    env {
      NXF_SCRATCH = "${params.base_dir}/scratch"
      TMPDIR      = "${params.base_dir}"
      TEMP        = "${params.base_dir}"
      TMP         = "${params.base_dir}"
    }
  }

  alpsr4 {
    process.executor = 'local'
    process.scratch = true
    process.cpus = 10
    process.memory = '32 GB'
    process.maxForks = 4
    process.errorStrategy = 'retry'
    process.maxRetries = 2
    workDir = "${params.base_dir}/work"
    env {
      NXF_SCRATCH = "${params.base_dir}/scratch"
      TMPDIR      = "${params.base_dir}"
      TEMP        = "${params.base_dir}"
      TMP         = "${params.base_dir}"
    }
  }
}
