// All parameters that _must_ be user-defined at runtime are commented out here.
// We do not want these defaults to be used by accident.
params {
    // pipeline logic
   // base_dir = '/project/6007957/common/SSuite_meta_runs/temp' // CHANGE THIS TO YOUR BASE DIR
    apptainer_dir = "/project/6007957/software/SSuite_apptainer"
    db_dir = "/project/6007957/software/SSuite_dbs"
   // input_csv = "data/subset_data.csv"
   // outdir = "results_dir"
    report_id = "all_paired-end"

	//Pipeline parameters
	params.bwamem_index = "${params.db_dir}/hg38.tar.gz"
	params.kneadata_index = "${params.db_dir}/hg37_kneaddata.tar.gz"
	params.kraken2_db_index_zip = "${params.db_dir}/k2_human.tar.gz"
	params.metaphlan4_db_index_zip = "${params.db_dir}/mpa_vOct2.tar.gz"
	params.humann4_db_index_zip = "${params.db_dir}/humann4.0.0a1.tar.gz"
	params.bowtie2_index = "${params.db_dir}/bowtie2_index"
	params.skip_functional_profile = false
	params.decontam_method = "kraken2" // Options: 'kraken2', 'bwa', 'kneaddata'
}

report {
    enabled = true
    overwrite = true
}

apptainer {
  enabled = true
  autoMounts = true
}

singularity {
  enabled = false
}

executor {
  exitReadTimeout   = '2h'
}

env {
  PYTHONNOUSERSITE = 1
}

process {
  executor = 'slurm'
  clusterOptions = '--account=rrg-surette --nodes=1 --ntasks=1'
  maxRetries = 1
  // exitStatusReadTimeoutMillis = 3600000
  // readTimeout = '1h'
  errorStrategy = { task.exitStatus in [125,139] ? 'retry' : 'finish' }

  // Global defaults
  // this is the setting applied to each module unless explicity defined otherwise
  // maxForks shows the number of jobs can be parallelized at once
  // scratch = true should remove sample temp file once it's done.
  // These global defaults should not be used, so I am commenting out the ones
  // that _must_ be defined for each module
  // memory = '100 GB'
  // cpus = 20
  maxForks = 10
  scratch = '$SLURM_TMPDIR'
  // time = '45m'

  // ---- Per-process resource tuning ----
  withName: FASTP {
    cpus  = 8
    memory = '64 GB'
    time   = '30m'
  }

  withName: FASTQC {
    cpus  = 2
    memory = '32 GB'
    time   = '45m'
  }

  // The "FASTQCK" step (second FastQC run)
  withName: FASTQCK {
    cpus  = 2
    memory = '32 GB'
    time   = '45m'
  }

  withName: KRAKEN2 {
    cpus  = 10
    memory = '128 GB'
    time   = '60m'
  }

  withName: METAPHLAN4 {
    cpus  = 15
    memory = '140 GB'
    time   = '2h 40m'
  }

  withName: HUMANN4 {
    cpus  = 10
    //memory = '256 GB' // use this normally
    //time   = '3h 10m' //use this normally
	memory = '500 GB'
	time = '9h'
  }

  withName: MULTIQC {
    cpus  = 2
    memory = '16 GB'
    time   = '20m'
  }
}

// cleanup true removes temp files once the whole pipeline is done
cleanup = true

profiles {
  nibi {
    workDir = "${params.base_dir}/work"
    env {
      TMPDIR      = "${SLURM_TMPDIR}"
      TEMP        = "${SLURM_TMPDIR}"
      TMP         = "${SLURM_TMPDIR}"
    }
  }
}

