params {

    // Base Directories
    base_dir = "/project/6007957/users/greenm11/mag_nextflow_bin"
    db_dir            = "/project/6007957/software/mir_MAG_dbs"
    apptainer_dir     = "/project/6007957/software/mir_MAG_apptainer"

    // Pipeline Logic
    run_trim_decontam = false
    binning_method    = "metabat2" // must be either "comebin", "semibin", "maxbin2", "metabat2", "metabinner", "binny" or "concoct"
    assembly_method   = "megahit" // must be "megahit" or "metaspades"
    refine_bins       = true

    // Batch and Tool Arguments
    input_csv         = "data_batch3.csv"
    batch_id          = new File(input_csv).baseName
    min_contig_length = 1000
    kmer_size         = 4
    length_thresh     = 1
    checkm2_db        = "${db_dir}/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
    gtdbtk_db         = "${db_dir}/gtdbtk_db/release232"
}

singularity {
  enabled = false
}

apptainer {
  enabled = true
  autoMounts = true

  // FORCE Apptainer to mount the project drive
  runOptions = '-B /project --nv'
}

env {
  PYTHONNOUSERSITE = 1
}

process {
    executor       = 'slurm'
    clusterOptions = '--account=rrg-surette --nodes=1 --ntasks=1'
    maxRetries     = 1
    errorStrategy  = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
    memory         = '100 GB'
    cpus           = 11
    time           = '45m'

    withName: BOWTIE2_ALIGN_ONLY {
        memory = 50.GB
        cpus = 11
        time = '3h'
        }

    withName: COMEBIN {
        scratch = '$SLURM_TMPDIR'
        stageOutMode = 'copy'
        memory = 50.GB
        cpus = 11
        time = '3h'
        }

     withName: 'BINNY' {
        containerOptions = '--writable-tmpfs'
        memory = 50.GB
        cpus = 8
        time = '2h'
    }

    withName: 'GTDBTK' {
        errorStrategy = { task.exitStatus == 1 && task.errMsg?.contains("Command 'ps'") ? 'ignore' : 'terminate' }
        memory = 170.GB
        time = '3h'
    }
}

executor {
    name = 'slurm'
    exitStatusReadTimeout = '1h' // Better to use duration string
    readTimeout = '1h'
}


cleanup = true

profiles {
  nibi {

    workDir = "${params.base_dir}/work"

    process {

        scratch = false

    }

    env {
      TMPDIR      = "${params.base_dir}/tmp"
      TEMP        = "${params.base_dir}/tmp"
      TMP         = "${params.base_dir}/tmp"
    }
  }
}

